{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^[.]",
    "",
    "<TYPES>"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
